@model Data.Models.IndevidualButtonPartitial

<td style="width:150px;">
    @Html.Partial("_IndevidualButtonPartitial",

    new Data.Models.IndevidualButtonPartitial
    {
    Page = "Edit",
    ButtonType = "btn-primary",
    Glyph = "pencil",
    Id = Model.Id
    })

    @Html.Partial("_IndevidualButtonPartitial",

    new Data.Models.IndevidualButtonPartitial
    {
        Page = "Details",
        ButtonType = "btn-success",
        Glyph = "list",
        Id = Model.Id
    })

    @Html.Partial("_IndevidualButtonPartitial",

    new Data.Models.IndevidualButtonPartitial
    {
        Page = "Delete",
        ButtonType = "btn-danger",
        Glyph = "trash",
        Id = Model.Id
    })

</td>