@page
@model MyLocation002.Pages.Categories.DetailsModel
@{
    ViewData["Title"] = "Details";
}

<h2 class="col-sm-offset-5">Details</h2>
<hr />

<div class="form-border">
    <fieldset disabled>
        <div class="form-group row">
            <div class="col-sm-2">
                <label asp-for="Categories.Name" class="custom-label"></label>
            </div>
            <div class="col-sm-4">
                <input asp-for="Categories.Name" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-2">
                <label asp-for="Categories.DisplayCategory" class="custom-label"></label>
            </div>
            <div class="col-sm-4">
                <input asp-for="Categories.DisplayCategory" class="form-control" />
            </div>
        </div>
    </fieldset>
    <br />
    <div class="form-group">
        <a asp-page="Edit" asp-route-id="@Model.Categories.Id" class="btn btn-success">Edit</a>
        <a asp-page="Index" class="btn btn-primary">Back to list</a>
    </div>
</div>
